# URL of the Listener Service (Function)
# For local Docker Compose, use: http://listener-service:4000/receive
# For FaaS, use the actual trigger URL of the deployed listener function
LISTENER_SERVICE_URL=http://localhost:4000/receive
